<!-- SEARCH FORM FOR SQLAlchemy -->


<!-- https://www.blog.pythonlibrary.org/2017/12/13/flask-101-how-to-add-a-search-form/ -->

<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="mystyle.css">
            <title>Search Database for string</title>
        </head>


        <h1>Search SQLAlchemy database for entry</h1>
        <form method="POST" action="/">
            <input type="text" name="search">
            <input type="submit" value="Search Database">
        </form>
        
        <!-- print "Found" or "Not Found" in Red (#FF0000)-->

        <h3>Result: </h3>
        
        {% for post in posts %}
            <div class='post'>
                <p>{{ post }}</p>
            </div>
        {% endfor %}

        <!-- OUTPUT SEARCH RESULTS -->
    </body>
</html>