<!-- SEARCH FORM FOR SQLAlchemy -->
<!DOCTYPE html>
<html>
    <body>
        <head>
            <link rel="stylesheet" href="mystyle.css">
            <title>Search Database for string</title>
        </head>
        <h1>Search SQLAlchemy database for string</h1>
        <form method="POST" action="/">
            <input type="text" name="search">
            <input type="submit" value="Search Database">
        </form>

        <h3>Result:</h3>

        <!-- OUTPUT SEARCH RESULTS -->
    </body>
</html>